@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import "markdown.css";

.avatar{
    display:inline-flex;flex-shrink:0;height:2.5rem;position:relative;width:2.5rem
}
.avatar>img{
    -o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center}
.avatar>.is-initial, .avatar>img {
    height:100%; width:100%
}
.avatar>.is-initial{
    align-items:center;display:flex;font-weight:500;justify-content:center
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror-selectednode {
outline: 3px solid #68cef8;
border-radius: 5px;
}

html, body {
    min-height: 100%;
}

body {
    /* background-color: rgb(245, 243, 239); */
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}
