<div class="w-full h-64 mb-8" style={"opacity: 0.5; background:#{@venue.color}"}></div>
<div class="mx-auto max-w-2xl p-4">
<.header>
  <%= @venue.name %>
  <:subtitle><%= @venue.description %></:subtitle>
  <:actions>
    <.link href={~p"/venues/#{@venue}/edit"}>
      <.button style={"background:#{@venue.color}"}>Edit venue</.button>
    </.link>
  </:actions>
</.header>

<p>Now we just need some forum posts here...</p>

<.back navigate={~p"/venues"}>Back to venues</.back>
</div>
