<div class="element markdown-body"></div>
<div class="post-content hidden">
  <p>Some text</p>
</div>
<button class="px-4 py-2 border mb-4" id="save-button" onclick="save()">Save post!</button>
<button class="px-4 py-2 border mb-4" id="add-image-button" onclick="addImage()">
  add an image
</button>
