<div class="BASE-LAYOUT flex">
  <.nav_menu />
  <div class="p-2 flex-grow ///">
    <div class="MIDDLE mx-auto w-min flex">
      <div class="w-[535px] flex flex-col gap-8">
        <.posts />
      </div>
      <div class="w-[330px] p-8">
        i am a sidebar!
      </div>
    </div>
  </div>
</div>
