<div class="BASE-LAYOUT flex isolate">
  <div class="p-2 flex-grow /// bg-neutral-700 ">
    <div class="MIDDLE mx-auto w-fit flex">
      <div class="grow max-w-[625px] flex flex-col gap-8">
        <.posts />
      </div>
      <div class="hidden lg:block lg:w-[320px] ml-6 p-8 text-white">
        i am an aside!
      </div>
    </div>
  </div>
</div>
